@import 'tailwindcss';

.node {
  --node-border-color: inherit;
  --node-header-color: inherit;

  @apply flex flex-col border border-solid rounded-sm
    shadow-md transition-all duration-200 text-black text-sm text-left;
  min-width: 100px;
  border-width: 1px;
  border-color: var(--node-border-color);
  background-color: var(--color-background);

  &:hover {
    @apply shadow-lg;
  }
}

.header {
  @apply py-1 px-2 rounded-t-xs;

  background-color: var(--node-header-color);

  &.line {
    @apply border-b;
    border-color: var(--node-border-color);
  }
}

.content {
  @apply py-1 px-2;

  min-height: 40px;
}

.start {
  --node-border-color: var(--color-start-border);
  --node-header-color: var(--color-start);
}

.end {
  --node-border-color: var(--color-end-border);
  --node-header-color: var(--color-end);
}

.normal {
  --node-border-color: var(--color-normal-border);
  --node-header-color: var(--color-normal);
}

.unreachable {
  --node-border-color: var(--color-unreachable-border);
  --node-header-color: var(--color-unreachable);
}

.error {
  --node-border-color: var(--color-error-border);
  --node-header-color: var(--color-error);
}

.selected {
  @apply shadow-xl;
}

.name {
  @apply font-semibold whitespace-nowrap;
}

.hint {
  @apply text-xs opacity-75 italic whitespace-nowrap;
  font-weight: normal;
}

:global(.react-flow__handle) {
  background-color: #4a90a4 !important;
  border-color: #2c5aa0 !important;
  width: 8px !important;
  height: 8px !important;
}

:global(.react-flow__handle:hover) {
  background-color: #6ba5c4 !important;
}
