@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './graph.css';

@theme {
  --color-background: oklch(1 0 0);

  --color-start: oklch(60% 0.15 142);
  --color-start-border: oklch(52% 0.15 143);
  --color-start-text: oklch(25% 0.12 142);

  --color-end: oklch(82% 0.07 67 / 0.85);
  --color-end-border: oklch(52% 0.13 32 / 0.7);
  --color-end-text: oklch(18% 0.08 32);

  --color-normal: oklch(78% 0.13 346);
  --color-normal-border: oklch(68% 0.13 347);
  --color-normal-text: oklch(28% 0.2 315);

  --color-error: oklch(78% 0.13 346);
  --color-error-border: oklch(52% 0.16 32);
  --color-error-text: oklch(28% 0.2 315);

  --color-unreachable: oklch(78% 0.13 346 / 0.4);
  --color-unreachable-border: oklch(67% 0.11 345 / 0.5);
  --color-unreachable-text: oklch(28% 0.2 315 / 0.5);

  --color-edge: oklch(58% 0.12 258);

  --color-hover: oklch(84% 0.06 73);
}

body {
  @apply bg-slate-950 text-slate-200;
}
